@font-face {
  font-family: "微软雅黑";
  font-family: 'PingFang SC Light',"Microsoft Yahei";

}

.h0,.h1,.h2,.h3,.h4,.h5,.h6,.h-glass{
  font-family: "NotoSansCJKsc";
}

.h0{
  display: block;
  font-size: 48px;
  font-weight: 400;
}
.h1{
  display: block;
  font-size: 30px;
}
.h2{
  display: block;
  font-size: 26px;
}
.h3{
  display: block;
  font-size: 24px;
}
.h4{
  display: block;
  font-size: 18px;
}
.h5{
  display: block;
  font-size: 16px;
}
.h6{
  display: block;
  font-size: 14px;
}
.h7{
  display: block;
  font-size: 13px;
}
.h8{
  display: block;
  font-size: 12px;
}
.h20{
  display: block;
  font-size: 20px;
}


.h-glass{
  font-family: "NotoSansCJKsc";
  font-size: 18px;
  font-weight: 600;
}
