/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
/* line 6, ../sass/flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* line 10, ../sass/flexslider.scss */
.flexslider .slides img {
  width: 100%;
}

/* line 14, ../sass/flexslider.scss */
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 22, ../sass/flexslider.scss */
html[xmlns] .flexslider .slides {
  display: block;
}

/* line 25, ../sass/flexslider.scss */
* html .flexslider .slides {
  height: 1%;
}

/* line 28, ../sass/flexslider.scss */
.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
/* line 34, ../sass/flexslider.scss */
.flexslider {
  background: #ffffff;
  position: relative;
  zoom: 1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* line 41, ../sass/flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 44, ../sass/flexslider.scss */
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}

/* line 48, ../sass/flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 52, ../sass/flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 55, ../sass/flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* line 59, ../sass/flexslider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

/* line 72, ../sass/flexslider.scss */
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

/* line 78, ../sass/flexslider.scss */
.flex-pauseplay a:hover {
  opacity: 1;
}

/* line 81, ../sass/flexslider.scss */
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* line 84, ../sass/flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

/* line 90, ../sass/flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 96, ../sass/flexslider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* line 107, ../sass/flexslider.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* line 111, ../sass/flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 116, ../sass/flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 121, ../sass/flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 126, ../sass/flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 135, ../sass/flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 138, ../sass/flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
